# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# System files
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/

# Screenshot files
my_screenshot*.png
